@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: rgb(255, 255, 255, 1);
    color: black;
    height: 100%;
    padding: 2em;
}

h1 {
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    border: solid black 5px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.accord-theme2{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4c0c5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: ghostwhite;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}