{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AccordJS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body id="body">
    <div class="accord">
        <div class="accord-title">
            <h1>Carlo Tupa Indriauan</h1>
        </div>
        <div class="accord-theme1">
            <h3>Klik dibawah ini untuk mengubah tema</h3>
        </div>
        <div class="accord-theme2">
            <label class='switch'>
                <input id="input-slide" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div id='accordion' class='container-accordion'>
        <h2 id='0'>Aktivitas</h2>
        <div>
            <ul>
                <li>Kuliah - Pulang</li>
            </ul>
        </div>

        <h2 id='1'>Pengalaman Organisasi/Kepanitiaan</h2>
        <div>
            <ul>
                <li>Staf TryOut UIGTR 2019</li>
                <li>Staf Perlengkapan CS League 2019</li>
            </ul>
        </div>

        <h2 id='2'>Prestasi</h2>
        <div>
            <ul>
                <li>Belum ada</li>
            </ul>
        </div>
    </div>
</body>
</html>